

  <% if current_user %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
<!--           <h1>Welcome back, <%= current_user.name %></h1>
 -->          <h2>LOCATIONS</h2>

  <!--           <div class="row">
            <div class="col-xs-4">hi</div>
            <div class="col-xs-4">bye</div>
            <div class="col-xs-4">still here</div>
          </div>
  -->

          <p>
          <% @locations.each do |location| %>
            <div class="box">
              <ul class="row" id="thumbgrid">
                <li class="col-xs-10">
                  <%= location.name %><br>
                  <%=link_to "See more", location_path(location) %>
                </li>
              </ul>
  <!--                 <li><%#= location.address %></li>
              <li><%#= location.description %></li> -->
            </div>
          <% end %>
          </p>
          
        </div>
        <div class="col-xs-4">
          <h2>ADD A LOCATION</h2>

          <%= bootstrap_form_for(@location) do |f| %>
            <% if @location.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

                <ul>
                <% @location.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= f.text_field :name %>
            </div>

            <div class="field">
              <%= f.text_field :address %>
            </div>

            <%if @location.coordinates %>
              <div class="field">
                <%= f.text_field :coordinates %>
              </div>
            <%end%>

            <div class="field">
              <%= f.text_field :resources %>
            </div>

            <div class="field">
              <%= f.text_field :wifi %>
            </div>

            <div class="field">
              <%= f.text_field :noise %>
            </div>

            <div class="field">
              <%= f.text_field :description %>
            </div>
            
            <div class="actions">
              <%= f.submit %>
            </div>

          <% end %>

      </div>
    </div>
  </div>
</div>

          
        </div>
      </div>
    </div>

    <% else %>

  <div class="splashpage">
      <div id="splash">

        <%= render 'login' %>

        <%= render 'signup' %>
      </div>
  </div>
  <% end %>

</div>
