<% if current_user %>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>


<body>
<!-- form partial here -->



  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-xs-6">
          <h3>Locations</h3>
          <p>
          <% @locations.each do |location| %>
            <ul>
              <%= location.name %> <%=link_to "See more", location_path(location) %>
              <li><%= location.address %></li>
              <li><%= location.description %></li>
            </ul>
          <% end %>
          </p>
          
        </div>
        <div class="col-xs-6">
          <%# render 'views/locations/form' %>
          <%= bootstrap_form_for(@location) do |f| %>
            <% if @location.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

                <ul>
                <% @location.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= f.text_field :name %>
            </div>

            <div class="field">
              <%= f.text_field :address %>
            </div>
            
            <div class="field">
              <span id="locCoords"><%= f.text_field :coordinates %></span>
            </div>
            
            <div class="field">
              <%= f.text_field :description %>
            </div>
            
            <div class="actions">
              <%= f.submit %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>

</body>





  <% else %>

<p>This is the home page for Project 2.1</p>
<p>Filler text about the purpose of this website. User is unable to see anything unless they are logged in.</p>
    
<% end %>