<% if current_user %>

  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-xs-6">
          <h3>Locations</h3>
          <p>
          <% @locations.each do |location| %>
            <ul>
              <%= location.name %> <%=link_to "See more", location_path(location) %>
              <li><%= location.address %></li>
              <li><%= location.description %></li>
            </ul>
          <% end %>
          </p>
          
        </div>
        <div class="col-xs-6">
          <%= render 'locations/form' %>
          
        </div>
      </div>
    </div>
  </div>


  <% else %>

  <div id="splash">
    <p>This is the home page for Project 2.1</p>
    <p>Filler text about the purpose of this website. User is unable to see anything unless they are logged in.</p>

    <%= render 'login' %>

    <%= render 'signup' %>

<% end %>


