<% if current_user %>

   <body>



  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-xs-6">

<!--           <div id="locationField">
            <input id="userInput" placeholder="Enter your address" type="text"></input>
          </div> -->

          
        </div>
        <div class="col-xs-6">
          <h3>Favorite Locations</h3>

          <%= link_to "Add a location", new_location_path %>
          <p>
          <% @locations.each do |location| %>
            <ul>
              <%= location.name %> <%=link_to "See more", location_path(location) %>
              <li><%= location.address %></li>
              <li><%= location.description %></li>
            </ul>
          <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

</body>





  <% else %>

<p>This is the home page for Project 2.1</p>
<p>Filler text about the purpose of this website. User is unable to see anything unless they are logged in.</p>
    
<% end %>