<% if current_user %>



  <!-- Google Maps API -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

  <script>
    var map;
    var image = "http://fc06.deviantart.net/fs70/f/2012/037/4/5/gold_star_icon_by_midnight_flame-d4oxfby.png";
    var cafeInfo;
    var autocomplete;
    var place;

    function initialize () {
      var mapOptions = {
        zoom: 16
      };
      
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

          var originMarker = new google.maps.Marker({
            position: pos,
            map: map,
            icon: image,
            title: 'You are here!'
          });

          map.setCenter(pos);

          var request = {
            location: pos,
            radius: 2000,
            types: ['cafe']
          };

          cafeInfo = new google.maps.InfoWindow();
          var service = new google.maps.places.PlacesService(map);
          service.nearbySearch(request, callback);

          // input = new google.maps.places.Autocomplete(
          //   * @type {HTMLInputElement} (document.getElementById('userInput')),
          //   { types: [] });


          // place = 

        }, function() {
          handleNoGeolocation(true);
        });
      } else {
        handleNoGeolocation(false);
      }
    }

    function callback(results, status) {
      if(status == google.maps.places.PlacesServiceStatus.OK) {
        for (var i = 0; i < results.length; i++) {
          createMarker(results[i]);
        }
      }
    }

    var placeLng;
    var placeLat;

    function createMarker(place) {
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
      });

      placeLat = place.geometry.location.lat();
      placeLng = place.geometry.location.lng();

      google.maps.event.addListener(marker, 'click', function() {
        cafeInfo.setContent('<p><strong>'+place.name+'</strong></p>' +
          '<p>'+place.vicinity+'</p>' +
          '<p>'+placeLat+'</p>');
          // '<button onclick="saveLoc()"> Add to Favorite Locations</button>');
          // '<a href="/locations/new"> add</a>');
        cafeInfo.open(map, this);
      });


    }

    // function saveLoc() {
    //   console.log(placeLng + ", " + placeLat);
    //   document.getElementById("locationLng").value = placeLng;
    // }


    function handleNoGeolocation(errorFlag) {
      if (errorFlag) {
        var content = 'Error: The Geolocation service failed.';
      } else {
        var content = 'Error: Your browser doesn\'t support geolocation.';
      }

      var options = {
        map: map,
        position: new google.maps.LatLng(60, 105),
        content: content
      };

      var infowindow = new google.maps.InfoWindow(options);
      map.setCenter(options.position);
    }







    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

   <body>




    <div id="map-canvas"></div>




  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-xs-6">

<!--           <div id="locationField">
            <input id="userInput" placeholder="Enter your address" type="text"></input>
          </div> -->

          <%= render 'locations/form' %>

          
        </div>
        <div class="col-xs-6">
          <h3>Favorite Locations</h3>

          <%= link_to "Add a location", new_location_path %>
          <p>
          <% @locations.each do |location| %>
            <ul>
              <%= location.name %> <%=link_to "See more", location_path(location) %>
              <li><%= location.address %></li>
              <li><%= location.description %></li>
            </ul>
          <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

</body>





  <% else %>

<p>This is the home page for Project 2.1</p>
<p>Filler text about the purpose of this website. User is unable to see anything unless they are logged in.</p>
    
<% end %>