
  <% if current_user %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
          <h3>Locations</h3>

  <!--           <div class="row">
            <div class="col-xs-4">hi</div>
            <div class="col-xs-4">bye</div>
            <div class="col-xs-4">still here</div>
          </div>
  -->

          <p>
          <% @locations.each do |location| %>
            <div class="box">
              <ul class="row" id="thumbgrid">
                <li class="col-xs-10">
                  <%= location.name %><br>
                  <%=link_to "See more", location_path(location) %>
                </li>
              </ul>
  <!--                 <li><%#= location.address %></li>
              <li><%#= location.description %></li> -->
            </div>
          <% end %>
          </p>
          
        </div>
        <div class="col-xs-4">
          <h3>Add a new Location</h3>
          <%= render 'locations/form' %>
          
        </div>
      </div>
    </div>

    <% else %>

  <div class="splashpage">
      <div id="splash">

        <%= render 'login' %>

        <%= render 'signup' %>
      </div>
  </div>
  <% end %>

</div>
