<% if current_user %>



  <!-- Google Maps API -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

  <script>
    var map;
    var image = "http://fc06.deviantart.net/fs70/f/2012/037/4/5/gold_star_icon_by_midnight_flame-d4oxfby.png";
    var placewindow;

    function initialize () {
      var mapOptions = {
        zoom: 16
      };
      
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

          var marker = new google.maps.Marker({
            position: pos,
            map: map,
            icon: image,
            title: 'You are here!'
          });

          // var infowindow = new google.maps.InfoWindow( {
          //   map: map,
          //   position: pos,
          //   content: 'You are here'
          // });

          map.setCenter(pos);

          var request = {
            location: pos,
            radius: 500,
            types: ['cafe']
          };

          placewindow = new google.maps.InfoWindow();
          var service = new google.maps.places.PlacesService(map);
          service.nearbySearch(request, callback);
        }, function() {
          handleNoGeolocation(true);
        });
      } else {
        handleNoGeolocation(false);
      }
    }

    function callback(results, status) {
      if(status == google.maps.places.PlacesServiceStatus.OK) {
        for (var i = 0; i < results.length; i++) {
          createMarker(results[i]);
        }
      }
    }

    function createMarker(place) {
      var placeLoc = place.geometry.location;
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
      });

      google.maps.event.addListener(marker, 'click', function() {
        placewindow.setContent('<p><strong>'+place.name+'</strong></p>' +
          '<p>'+place.vicinity+'</p>' +
          '<button onclick="myFunction()"> Add to Favorite Locations</button>');
        placewindow.open(map, this);
      });
    }

    function myFunction() {
      alert("kjwenf");
    }

    // function showInfoWindow() {
    //   placewindow.setContent(place.name);
    //   placewindow.open(map, this);      
    // }

    function handleNoGeolocation(errorFlag) {
      if (errorFlag) {
        var content = 'Error: The Geolocation service failed.';
      } else {
        var content = 'Error: Your browser doesn\'t support geolocation.';
      }

      var options = {
        map: map,
        position: new google.maps.LatLng(60, 105),
        content: content
      };

      var infowindow = new google.maps.InfoWindow(options);
      map.setCenter(options.position);
    }







    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

   <body>




    <div id="map-canvas"></div>




  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-xs-6">




<!--           <div id="findcafes">
            Find cafes in:
          </div>

          <div id="locationField">
            <input id="autocomplete" placeholder="Enter a city" type="text" />
          </div>

          <div id="controls">
            <select id="country">
              <option value="all">All</option>
              <option value="au">Australia</option>
              <option value="br">Brazil</option>
              <option value="ca">Canada</option>
              <option value="fr">France</option>
              <option value="de">Germany</option>
              <option value="mx">Mexico</option>
              <option value="nz">New Zealand</option>
              <option value="it">Italy</option>
              <option value="za">South Africa</option>
              <option value="es">Spain</option>
              <option value="pt">Portugal</option>
              <option value="us" selected>USA</option>
              <option value="uk">UK</option>
            </select>
          </div>



          <div id="listing">
            <table id="resultsTable">
              <tbody id="results"></tbody>
            </table>
          </div>
    
          <div id="info-content">
            <table>
              <tr id="iw-url-row" class="iw_table_row">
                <td id="iw-icon" class="iw_table_icon"></td>
                <td id="iw-url"></td>
              </tr>
              <tr id="iw-address-row" class="iw_table_row">
                <td class="iw_attribute_name">Address:</td>
                <td id="iw-address"></td>
              </tr>
              <tr id="iw-phone-row" class="iw_table_row">
                <td class="iw_attribute_name">Telephone:</td>
                <td id="iw-phone"></td>
              </tr>
              <tr id="iw-rating-row" class="iw_table_row">
                <td class="iw_attribute_name">Rating:</td>
                <td id="iw-rating"></td>
              </tr>
              <tr id="iw-website-row" class="iw_table_row">
                <td class="iw_attribute_name">Website:</td>
                <td id="iw-website"></td>
              </tr>
            </table>
          </div> -->
          
        </div>
        <div class="col-xs-6">
          <h3>Favorite Locations</h3>
          <%= link_to "Add a location", new_location_path %>
          <p>
          <% @locations.each do |location| %>
            <ul>
              <%= location.name %> <%=link_to "See more", location_path(location) %>
              <li><%= location.address %></li>
              <li><%= location.description %></li>
            </ul>
          <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

</body>





  <% else %>

<p>This is the home page for Project 2.1</p>
<p>Filler text about the purpose of this website. User is unable to see anything unless they are logged in.</p>
    
<% end %>