<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <div class="descBox">
          
          <h2><%= @location.name.upcase %></h2>
          <p><%= @location.address.upcase %></p>
          Resources: <%= @location.resources %><br>
          Wifi: <%= @location.wifi %><br>
          Noise Level: <%= @location.noise %><br><br>
          <%= @location.description %><br><br>
          <span id="editcontrols"><%#= link_to 'Edit'.upcase, edit_location_path %> <%= render 'locations/form' %> // <%= link_to 'Delete'.upcase, @location, method: :delete, data: { confirm: 'Are you sure you want to delete it?'} %></span><hr>
          
        </div>
        <%= link_to 'Back', root_path %>

      </div>

      <div class="col-xs-4">
        <h2>REVIEWS</h2>
          <% if @location.reviews.count > 0 %>
              <% @location.reviews.each do |review| %>
                <p><strong><%= review.title %></strong><br>
                <%= review.body %></p>
              <% end %>
          <% else %>
            <p>No reviews yet! Be the first to write a review.</p>
          <% end %>

        <%= bootstrap_form_for(@review ,:url => {:action => :new_review, :controller => :locations} ) do |f| %>
          <%= hidden_field_tag :location_id, @location.id %>
          <div class="field">
            <%= f.text_field :title%>
          </div>
          <div class="field">
            <%= f.text_field :body%>
          </div>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</body>