<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

<body>
  <p>Add this location to your favorites</p>

  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-xs-6">
          <%= @location.name %><br>
          <%= @location.address %><br>
          <%= @location.description %><br>

          <%= link_to 'Edit', edit_location_path %>
          <%= link_to 'Delete', @location, method: :delete, data: { confirm: 'Are you sure you want to delete it?'} %>

          <p>This cafe too crowded?</p>
          <ul>
            <% for index in (1...@nearby.length) %>
              <li><%= link_to @nearby[index].name, location_path(@nearby[index]) %></li>
          <% end %>
          </ul>
        </div>

        <div class="col-xs-6">
          <p>reviews for each location</p>

          <% @location.reviews.each do |review| %>
            <%= review.title %>
            <%= review.body %>
          <% end %>

          <%= bootstrap_form_for(@review ,:url => {:action => :new_review, :controller => :locations} ) do |f| %>
            <%= hidden_field_tag :location_id, @location.id %>
            <div class="field">
              <%= f.text_field :title%>
            </div>
            <div class="field">
              <%= f.text_field :body%>
            </div>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>